{# Miami/LdapBundle/Resources/views/Default/login.html.twig #}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

ENTER YOUR CREDENTIALS!

<form action="{{ path('login_check') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_target_path" value="account" />

    <input type="submit" name="login" />
</form>
